<table id="students">
  <tr>
    <th *ngFor="let column of headers">
      {{ column }}
      <button (click)="onToggleDown(column)" class="drop-button">
        <img
          src="../assets/arrow-down.svg"
          [class]="{ 'arrow-up': downFlags[column] }"
        />
      </button>
      <button
        type="submit"
        class="open-search-button"
        (click)="onOpenInput($event, column)"
      >
        <img
          [attr.src]="
            openFlags[column]
              ? '../assets/times-solid.svg'
              : '../assets/loupe.svg'
          "
          alt=""
        />
      </button>
      <input
        *ngIf="
          column !== 'Средний Балл' &&
          column !== 'Дата Рождения' &&
          openFlags[column]
        "
        placeholder="Search..."
        type="text"
        class="search-input"
        #inputSearch
        (keyup)="onKey(inputSearch.value, column)"
      />
      <app-component-filter
        *ngIf="(column === 'Дата Рождения' || column === 'Средний Балл') && openFlags[column]"
        [rows]="rows"
        [rows2]="rows2"
        [rows3]="rows3"
        [column]="column"
        (emitSetRows)="setRows($event)"
        (emitSetRows2)="setRows2($event)"
        (emitSetRows3)="setRows3($event)"
      >
      </app-component-filter>
    </th>
  </tr>

  <tr
    *ngFor="let row of bufferRows"
    [ngClass]="
      isHighlight
        ? {
            'highlight-red': convertToNumber(row['Средний Балл']) < 3,
            'highlight-blueviolet': foundStudents.includes(row)
          }
        : 'rowColor'
    "
  >
    <td *ngFor="let column of headers" class="cell">
      {{ row[column] }}
      <button class="editBtn" *ngIf="column === 'Средний Балл'" (click)="popupEdit.toggleModule('edit', row)">
        <img src="../assets/edit-solid.svg"/>
      </button>
      <button
        class="deleteBtn"
        *ngIf="column === 'Средний Балл'"
        (click)="popupDelete.toggleModule('delete', row)"
      >
        <img src="../assets/times-solid.svg" />
      </button>
    </td>
  </tr>
</table>
<button class="createBtn" (click)="popupEdit.toggleModule('create')">Add new user</button>

<app-popup #popupDelete (emitDelete)="delete($event)"></app-popup>
<app-popup #popupEdit (emitEditRow)="edit($event)" (emitAddRow)="add($event)"></app-popup>

<button (click)="highlightController()">Отключить подсветку</button>